.gif {
    border-radius: 6px;
    border: 1px solid #eee;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 32px;
    text-decoration: none;
    width: 80%;
}

.gif h4 {
    margin: 0;
    margin-bottom: 10px;
}

.gif img {
    object-fit: contain;
}